@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
.content{
    display: flex;
    gap: 50px;
    font-family: 'Forum', sans-serif;
}

.content {
    font-family: 'Forum', sans-serif;
}